$primary-color: #992cc4;
$dark-color: #000000;
$light-color: #afafaf;
$white-color: #ffffff;
$dark-color-transparent: #ffffffd1;
$font-small: 11px;
$font-medium: 20px;
$font-large: 32px;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #312e35;
}
