$primary-color: #992cc4;
$dark-color: #000000;
$light-color: #afafaf;

.lightColor {
  color: $light-color;
}
.fontSml {
  font-size: 11px;
}
.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }  
}

.title a {
  color: $primary-color;
  text-decoration: none;
  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 36px;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  a:hover {
    color: $primary-color;
  }
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  :hover,
  :focus,
  :active {
    color: $primary-color;
    border-color: $primary-color;
  }
  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.btn {
  :hover {
    color: $primary-color;
  }
  :after {
    display:flex;
    content: '';
    border-bottom: 2px solid $primary-color;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%; 
  }
  :hover:after { 
    transform: scaleX(1); 
    transform-origin: 0% 50%; 
  }
  h3{
    margin: 0;
    line-height: 1.15;
    font-size: 22px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }
}
.modal {
  position: absolute;
  width: 40vw;
  left: 30vw;
  border-radius: 4px;
  margin-top: 20px;
  background: white;
  border: 1px solid #ccc;
  transition: 0.5s ease-out;
  box-shadow: -2px 5px 5px rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 30px 30px;
  

  h2 {
    padding-bottom: 10px;
    margin: 0;
    color: $primary-color;
    font-size: 32px;
  }
  h3{
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    color: $primary-color;
    font-size: 22px;
  }
  h4{
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    color: $dark-color;
    font-size: 18px;
    font-weight: bold;
  }
  ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      font-size: 18px;
      margin: 0;
    }
  }
  button {
    background-color: $primary-color;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px 100px;
    margin: auto;
  }
  .carouselRoot {
    width: 40vw;
    padding: 0 60px 0 0;
  }
  @media (max-width: 1200px) {
    width: 80vw;
    left: 10vw;
  }
  @media (max-width: 768px) {
    width: 90vw;
    left: 5vw;
    .carouselRoot {
      width: 90vw;
      padding: 0 10vw 0 0;
    }
  }
  @media (max-width: 480px) {
    width: 98vw;
    left: 1vw;
  }
}

#centered-toggle-button {
  position: absolute;
}


.menu {
  padding-bottom: 30px;
  text-align: left;
  :after{
    border:0px;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
